body{
    background-color: rgb(186, 235, 186);
}

.col {
    color: rgb(79, 17, 107);
    font-size: 5em;
    font: 'arial';
    text-align: left;
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;

}

.imagenAvatar{ 
    margin-right: 10%;
    float: left;
    
}